@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    font-family: "Inter", sans-serif;
    background: black;
}
.display-flex{
    display: flex;
}
.logo{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.navbar{
    max-width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.nav-item{
    list-style: none;
    margin-left: 40px;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.nav-links{
    align-items: center;
}
.active{
    border-radius: 20px;
    background: rgb(230, 83, 60); 
    position: static;
    width: 40px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
}
#bar{
    color: aliceblue;
   font-size: 1.5rem;
   display:none;
   margin-left: 40px;
   margin-top: 30px;
}
.banner-section{
    /* border: 2px solid red; */
    max-width: 1040px;
    display: flex;
    margin: 0 auto;
    gap: 200px;
    position: relative;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}
span{
    font-family: "Dancing Script", cursive;  
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}
.primary-btn{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 150px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}
.secondery-btn{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    border-radius: 42px;
    background: black;
    width: 150px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}
.number{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 0px;
}
.box{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 24px 16px 24px;
    position: absolute;
    width: 160px;
    height: 80px;
    left: 830px;
    top: 120px;
}
.box1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 24px 16px 24px;
    position: absolute;
    width: 160px;
    height: 80px;
    margin-top: 10px;
    margin-left: 200px;
}
.box2{
    display: flex;
    gap: 10px;
}
.banner-content{
    position: relative;
}
.color{
    width:20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-top: 20px;
}
.para{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
}
.habit-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-title{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
    margin-bottom: 0px;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.Exercise-images-section{
    max-width: 1040px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 50px;
}
.image{
    border-radius: 80%;
}
.image-content{
   text-align: center;
}
.image-title{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
.image-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}
.running-section{
    max-width: 1040px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 350px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px 35px 30px;
}
.run-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-size:0.7rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left; 
}
.run-image{
    width: 100%;
    border-radius: 18px;
    background: url(4);
}
.primary-btn1{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 200px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
}
.run-content{
    /* padding: 40px 35px 30px; */
}







@media screen and (max-width:576px) {
    .navbar, .nav-links, .active{
        flex-direction: column;
    }
    #bar{
        display: block;
    }
    .navbar{
        flex-direction: row;
    }
    .nav-links{
        display: none;
    }
    .banner-section{
        flex-direction: column;
        gap: 0px;
    }
    .box{
        left:180px;
        top: 120px;
        position: relative;
    }
    .box1{
        position: relative;
        top:400px;
        left: -180px;
    }
    .habit-section, .habit-description{
        align-items: flex-start;
    }
    .Exercise-images-section{
        flex-direction: column;
        gap: 0px;
    }
    .running-section{
        flex-direction: column;
        gap: 50px;
    }
}